<table class="table table-hover">
    <thead>
        <tr>
            <th>#</th>
            <th>Flag</th>
            <th>Name</th>
            <th>Capital</th>
            <th>Population</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of countries;let i = index"
            class="animate__animated animate__fadeIn">
            <td>{{i + 1}}</td>
            <td><img class="flag" [src]="item.flag" [alt]="item.name"></td>
            <td>{{item.name}}</td>
            <td>{{item.capital}}</td>
            <td>{{item.population | number}}</td>
            <td>
                <button [routerLink]="['/details',item.alpha2Code]" class="btn btn-primary" >Details</button>
            </td>
        </tr>
    </tbody>
</table>
